@import "../../../index.scss";

figure {
    display: flex;
    padding: 1em 0em;
    cursor: pointer;
    font-size: 1.5rem;

    &.vertical {
        flex-direction: column;
        padding: 2em, 0;

        img {
            margin: 1em 0em;
        }
    }

    &.horizontal {
        img {
            margin: 0em 1em;
        }
        &:hover{
            background-color: rgb(39, 39, 39);
        }
        @include media-down(tablet) {
            flex-direction: column;
            img {
                margin: 1em 0em;
            }
        }
    }

    figcaption,
    img {
        @each $key, $size in $sizes {
            &.#{$size} {
                width: ($key) * 15em;
            }
        }
    }

    img {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 8px;
    }

    figcaption {
        font-size: $small-font-size;
        font-weight: bold;
        width: 40vw;
        text-align: justify;
        @include media-down(tablet) {
            width: 80vw;
        }
    }
}
