@import "../../../index.scss";

.navbar {
  background-color: #0f0f0f;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #222;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-down(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    img {
      height: auto;
      width: 100px;
    }
  }

  &__item {
    color: white;
    font-weight: 500;

    &.navbar__center {
      flex: 1;
      text-align: center;

      @include media-down(tablet) {
        text-align: left;
      }
    }
  }
}
