@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&display=swap");

$font-family: "Montserrat", sans-serif;
$small-font-size: 0.9em;
$medium-font-size: 2em;
$big-font-size: 4em;
$main-color: "#000";

$sizes: (
    1: "small",
    2: "medium",
    3: "big",
);

$colors: (
    "danger": #e76f51,
    "warning": #e9c46a,
    "info": #264653,
);

body {
    font-family: $font-family;
    color: $main-color;

    @each $key, $coloor in $colors {
        .#{$key} {
            color: $coloor;
        }
    }

    @for $i from 1 through 6 {
        h#{7 - $i} {
            font-size: 3.4em / 6 * $i;
        }
    }
}
